.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/random/1000x500");
  background-size: cover;
  background-position: center;
  padding: 200px 50px;
  margin: 0 auto;
  line-height: 1.6;
}

.banner h1 {
  color: white;
}

.banner p {
  color: #B3B3B4;
  font-size: 20px;
}
